# Base de datos
DB_URL=jdbc:postgresql://localhost:5432/simposium
DB_USERNAME=postgres
DB_PASSWORD=postgres

# JPA
JPA_DDL_AUTO=update
JPA_SHOW_SQL=true

# JWT
APP_JWT_SECRET=pon_aqui_una_clave_larga_y_segura
APP_JWT_EXPIRATION=86400000
